.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 1000; /* asegura que esté por encima de todo */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); /* sutil sombra al hacer scroll */
}
.col {
  flex: 1;
}
.logo {
  width:  auto;
  height: 80px;
}
.centro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.centro a {
  position: relative;
  margin: 0 1rem;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-bottom: 0.5rem; /* Espacio para la línea */
}

.centro a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: #007BFF;
  bottom: -35px; /* Ajusta para que la línea quede justo al borde del header */
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 2px;
}

.centro a:hover::after,
.centro a:focus::after {
  opacity: 1;
}
.centro a:hover {
  color: #007BFF;
}
.derecha {
  text-align: right;
}
.icono {
  width: 24px;
  height: 24px;
}
/* Divisor bajo el header */
.divisor {
  border: none;
  border-top: 1px solid #eee;
  margin: 0;
}
